@import "ui-variables";

.tree-view {
  font-size: @font-size;
  background: @app-background-color;;
  padding: 36px 16px 16px;

  .selected:before {
  	background: #444;
    border-radius: 3px 0 0 3px;
    left: 16px;
    right: 0;
  }
}

[data-show-on-right-side=true] {
  .tree-view .selected:before {
    border-radius: 0 3px 3px 0;
    left: 0;
    right: 16px;
  }
}

.tree-view-resizer {
  .tree-view-resize-handle {
    width: 8px;
  }
}

.focusable-panel {
  opacity: 1;
  // background: #303030;
  // box-shadow: inset -3px 0 0 rgba(0,0,0, .05);

  &:focus {
    // background: #282828;

    .selected:before {
      background: @background-color-selected;
    }

    .selected > .name,
    .selected > .name:before,
    .selected > .list-item > .name,
    .selected > .list-item > .name:before {
      color: #fff !important;
    }
  }
}
